/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/fonts/material-icons.css";

* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0.5em 0.5em;
    background-color: lightgrey;
}
